@import "../../stylesGlobal.scss";

.esqueceu-senha {
  font-family: $FontMain;
  font-weight: 500;
  font-size: 0.69rem;
  left: 5rem;
  color: $colorBlue;
  /* float: left; */
  position: relative;
}   