@import "./Utilities/Variaveis/mediaQuery";
@import "./Utilities/Variaveis/colors";
@import "./Utilities/Variaveis/fonts";
@import "./styles/mixins.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}